// Colors
$brown: #3d2d23
$light-brown: #786c5b
$yellow: #ffc90e
$pale-yellow: #fffddb
$green: #d3ce3d

@import "normalize"
@import "mixin"
@import "forms"
/* apply a natural box layout model to all elements */
*
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box


// Angular JS styles \\
// - remove flash of unloaded content \\
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important



html
	background: $brown

body
	background: $brown
	font-family: 'Roboto', sans-serif
	font-weight: 400
	
header
	background: $light-brown
	border-bottom: 2px solid #a1988d
	height: 40px
	width: 100%
	margin-top: 0
	position: relative
	float: left

	h1
		text-align: center
		font-size: 32px
		margin-top: 0
		font-weight: normal
		color: $brown

.rounded
	-webkit-border-radius: 2px
	border-radius: 2px

a
	color: $pale-yellow

	&:visited
		color: $pale-yellow




// Schedule page (aka Timer!)

#schedule li
	color: #d3ce3d
	margin-left: 0
	width: 100%
	position: relative
	float: left
	list-style-type: none

.strike
	text-decoration: line-through

// li styles
.next, 
.current
	font:
		size: 18px
		weight: bold
	
.current
	font-size: 28px
	color: #b9d33d
