<!-- {{minutes}} is being set in timerCtrl.js pulling the 
	$scope.master.boilTime value -->
<div id="flex-container">

	<div id="timer">
	<h1 class="boilTime">{{minutes}} : {{seconds | prependZero}}</h1>
		
	<button ng-click="start()" ng-disabled="started" ng-show="!started">START</button>  
	<button ng-model="pauseBtn" data-ng-click="pause()" ng-disabled="!started" ng-hide="!started">PAUSE</button> 
	<button ng-click="resume()" ng-hide="pauseBtn" ng-disabled="pauseBtn">RESUME</button>

</div>

	<div id="schedule">
	<h2>{{master.name}} Schedule</h2>
	<ul id="schedule">
		<li ng-repeat="schedule in master.boilSchedule | orderBy:master.boilSchedule.time" ng-class="{'strike' : schedule.checked, 'next' : schedule.time >= minutes - 2, 'current' : schedule.time >= minutes - 1 } ">
			{{schedule.amt}}{{ schedule.unit }} {{schedule.name}} @ {{schedule.time}} 
			<input type="checkbox" ng-model="schedule.checked">
		</li>
	</ul>
	</div>
</div>